ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.Privilege;Class_1;[ID];[getIdentity];[])
ExtractSubClass(com.google.authenticator.blackberry.BufferedReader;Class_2;[markpos];[isClosed|markSupported];[])
MoveMethod(net.rbgrn.android.glwallpaperservice.LogWriter;com.picsauditing.web.util.CustomJacksonObjectMapper;[];[write];[])
IncreaseMethodSecurity(de.rwth.dbis.acis.bazaar.service.dal.repositories.RequirementCategoryRepositoryImpl;;[];[delete];[])
ExtractClass(org.badiff.imp.BadiffFileDiff.Header.Stats.Optional.FileBadiffOpQueue;Class_3;[self];[close];[])
ExtractSubClass(org.badiff.fmt.BadiffFormat.BadiffFormatOpQueue;Class_4;[bd];[toString];[])
PullUpField(com.sk.cache.dist.unpack.RACInputStream;java.io.InputStream;[rac];[];[])
ExtractSuperClass(StateManagement.ContentState.Type;Class_5;[contentId|preferredInterface|sendMetaDataFlag];[getCurrentSegments|getMetaDataFlag|getPreferredInterface|getUploadId];[])
MoveField(edu.msu.cme.rdp.readseq.utils.BufferedRandomAccessFile;PubSubModule.Notification;[realPos];[];[])
PullUpField(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0.UniqueKeys0;de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.AbstractKeys;[KEY_USER_PRIMARY];[];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Activity.DataType.ActivityAction.Builder;Class_6;[dataType|parentDataType];[parentDataType];[])
IncreaseMethodSecurity(prototype.datastore.DataStore;;[];[read];[])
PullUpMethod(com.sk.cache.dist.unpack.RACInputStream;java.io.InputStream;[];[read];[])
MoveField(org.badiff.imp.FileDiff.FileOpQueue;java.io.File;[closed];[];[])
IncreaseMethodSecurity(StateManagement.ContentState.Type;;[];[getOffset];[])
MoveField(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0;net.rbgrn.android.glwallpaperservice.LogWriter;[IDENTITY_VOTE];[];[])
ExtractSuperClass(StateManagement.Status;Class_7;[prefrtport|type];[containsData|getContentType|insertData|setUploadRequests|updateData|updateState];[])
MoveMethod(de.rwth.dbis.acis.bazaar.service.dal.entities.CategoryFollower.Builder;com.google.gson.Gson.FutureTypeAdapter;[];[userId];[])
MoveField(de.rwth.dbis.acis.bazaar.service.exception.ExceptionLocation;com.google.gson.JsonObject;[message];[];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.internalization.Localization;Class_8;[instance];[getInstance];[])
DecreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.BazaarService;;[logger];[];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.entities.CategoryContributors.Builder;Class_9;[commentCreator|id|leader];[developers|leadDeveloper];[])
PushDownField(org.badiff.q.OpQueue;org.badiff.imp.FileDiff.FileOpQueue;[iterNext];[];[])
IncreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0.UniqueKeys0.ForeignKeys0;;[USER_ROLE_MAP_ROLE];[];[])
DecreaseFieldSecurity(org.badiff.q.OpQueue;;[prepared];[];[])
PullUpField(prototype.utils.FileWriter;java.lang.Thread;[flag];[];[])
PullUpField(util.BitSet2;java.util.BitSet;[serialVersionUID];[];[])
PushDownField(java.lang.Thread;prototype.dataserver.FileRegisterer;[flag];[];[])
MoveMethod(de.rwth.dbis.acis.bazaar.service.dal.entities.Activity.DataType.ActivityAction.Builder;de.rwth.dbis.acis.bazaar.service.update.UpdateTest;[];[dataFrontendUrl];[])
IncreaseFieldSecurity(prototype.custodian.FileRegisterer;;[cacheId];[];[])
IncreaseMethodSecurity(de.rwth.dbis.acis.bazaar.service.BazaarService.Resource;;[];[getNotificationDispatcher];[])
IncreaseMethodSecurity(org.badiff.alg.InertialGraph.GraphOpQueue;;[];[pull];[])
PullUpField(prototype.utils.FileReader;java.lang.Thread;[file];[];[])
PullUpMethod(prototype.cache.FileRegisterer;java.lang.Thread;[];[close];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.RequirementFollower.Builder;Class_10;[requirementId];[build];[])
MoveField(de.rwth.dbis.acis.bazaar.service.dal.entities.ProjectFollower.Builder;StateManagement.ServiceInstanceAppStateManager;[userId];[];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Attachment.Builder;Class_11;[fileUrl|id|lastUpdatedDate];[name];[])
ExtractClass(org.badiff.imp.MemoryDiff.MemoryOpQueue;Class_12;[];[toString];[])
PullUpMethod(com.rivetlogic.hook.language.hovercard.CustomHovercardLanguageComponent;java.util.ResourceBundle;[];[getKeys];[])
PushDownField(Class_8;de.rwth.dbis.acis.bazaar.service.internalization.Localization;[instance];[];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.dal.entities.CategoryFollower.Builder;Class_13;[futuretypeadapter|id];[id];[])
PullUpField(com.rivetlogic.hook.language.hovercard.CustomHovercardLanguageComponent;java.util.ResourceBundle;[bundle];[];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Comment.Builder;Class_14;[message|replyToComment];[requirementId];[])
PullUpMethod(net.rbgrn.android.glwallpaperservice.LogWriter;java.io.Writer;[];[write];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Requirement.Builder;Class_15;[creationDate|downVotes|isDeveloper|realized];[build|creator|isFollower|projectId|upVotes|userVoted];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Email.Builder;Class_16;[id|starting];[closing];[])
PushDownField(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.AbstractKeys;de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0;[KEY_USER_PRIMARY];[];[])
ExtractSubClass(org.jruby.ext.thread_safe.jsr166e.LongAdder;Class_17;[];[floatValue|longValue|readObject|toString];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.ProjectContributors.Builder;Class_18;[categoryLeader|developers|leadDeveloper];[build|leadDeveloper|requirementCreator];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.update.UpdateTest;Class_19;[];[dataFrontendUrl|test_modifyProjects];[])
PushDownMethod(de.rwth.dbis.acis.bazaar.service.dal.entities.EntityBase;de.rwth.dbis.acis.bazaar.service.dal.entities.Comment;[];[toJSON];[])
PullUpMethod(de.rwth.dbis.acis.bazaar.service.internalization.Localization;Class_8;[];[setResourceBundle];[])
DecreaseFieldSecurity(StateManagement.ContentState.Type;;[totalSegments];[];[])
PullUpMethod(de.rwth.dbis.acis.bazaar.service.dal.entities.CategoryContributors;de.rwth.dbis.acis.bazaar.service.dal.entities.EntityBase;[];[getDevelopers];[])
EncapsulateField(de.rwth.dbis.acis.bazaar.service.dal.helpers.Pageable.SortField;;[sortDirection];[];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.ProjectFollowerMap;Class_20;[ID|serialVersionUID];[as|getReferences];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Statistic.Builder;Class_21;[numberOfRequirements|numberOfVotes];[numberOfComments];[])
IncreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0.UniqueKeys0;;[KEY_PROJECT_FOLLOWER_MAP_PRIMARY];[];[])
ExtractClass(com.google.gson.stream.JsonReader;Class_22;[MIN_INCOMPLETE_INTEGER|NUMBER_CHAR_EXP_DIGIT|NUMBER_CHAR_EXP_E|NUMBER_CHAR_EXP_SIGN|NUMBER_CHAR_NONE|PEEKED_BEGIN_ARRAY|PEEKED_BEGIN_OBJECT|PEEKED_BUFFERED|PEEKED_DOUBLE_QUOTED_NAME|PEEKED_EOF|PEEKED_FALSE|PEEKED_LONG|PEEKED_NONE|PEEKED_SINGLE_QUOTED|PEEKED_SINGLE_QUOTED_NAME|PEEKED_TRUE|PEEKED_UNQUOTED|in|lenient|limit|lineNumber|peeked|peekedLong|peekedNumberLength|peekedString|pos|stackSize];[checkLenient|nextUnquotedValue];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.entities.RequirementDeveloper.Builder;Class_23;[userId];[requirementId];[])
PullUpField(de.qabel.box.storage.DeleteOnCloseFileInputStream;java.io.FileInputStream;[file];[];[])
ExtractSubClass(jwbroek.util.properties.EnhancedProperties;Class_24;[serialVersionUID];[getProperty|getPropertyAsBoolean|setProperty];[])
IncreaseMethodSecurity(de.rwth.dbis.acis.bazaar.service.dal.entities.Comment;;[];[toJSON];[])
PushDownField(org.badiff.q.FilterOpQueue;org.badiff.q.OneWayOpQueue;[filtering];[];[])
PushDownMethod(Class_21;de.rwth.dbis.acis.bazaar.service.dal.entities.Statistic.Builder;[];[numberOfComments];[])
IncreaseFieldSecurity(org.badiff.alg.AdjustableInertialGraph.GraphOpQueue;;[x];[];[])
PushDownMethod(org.badiff.q.OpQueue;org.badiff.imp.StreamQueueable.StreamOpQueue;[];[remove];[])
PushDownMethod(java.lang.Thread;prototype.custodian.FileRegisterer;[];[close];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.ProjectFollower.Builder;Class_25;[serviceinstanceappstatemanager];[build];[])
MoveMethod(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.Role;org.jruby.ext.thread_safe.jsr166e.nounsafe.LongAdder;[];[getIdentity];[])
PullUpField(org.badiff.imp.FileDiff.FileOpQueue;org.badiff.q.OpQueue;[iterNext];[];[])
IncreaseMethodSecurity(de.rwth.dbis.acis.bazaar.service.dal.entities.Comment.Builder;;[];[build];[])
MoveField(Class_15;de.rwth.dbis.acis.bazaar.service.dal.entities.Role.Builder;[realized];[];[])
DecreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.entities.CategoryContributors.Builder;;[attachmentCreator];[];[])
ExtractClass(com.google.gson.Gson.FutureTypeAdapter;Class_26;[delegate];[setDelegate|setDelegate|toString];[])
IncreaseMethodSecurity(de.rwth.dbis.acis.bazaar.service.dal.entities.Vote.Builder;;[];[userId];[])
MoveField(Class_10;org.badiff.imp.BadiffFileDiff.Header.Stats.Optional.FileBadiffOpQueue;[requirementId];[];[])
ExtractSubClass(prototype.datastore.DataStore;Class_27;[dirPath];[write];[])
IncreaseMethodSecurity(edu.msu.cme.rdp.readseq.utils.BufferedRandomAccessFile;;[];[read];[])
ExtractClass(util.BitSet2;Class_28;[];[addAtEnd|contains|length];[])
IncreaseMethodSecurity(com.google.gson.internal.bind.JsonTreeWriter;;[];[value];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Vote.Builder;Class_29;[id];[id|userId];[])
PushDownField(java.io.InputStream;com.sk.cache.dist.unpack.RACInputStream;[rac];[];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.records.RequirementFollowerMapRecord;Class_30;[];[values];[])
DecreaseFieldSecurity(Class_25;;[serviceinstanceappstatemanager];[];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Category.Builder;Class_31;[description|isFollower|name];[id];[])
IncreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.helpers.Pageable.SortField;;[field];[];[])
ExtractClass(net.rbgrn.android.glwallpaperservice.LogWriter;Class_32;[IDENTITY_VOTE];[flush];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.transform.CommentTransformer;Class_33;[];[getEntityFromTableRecord|getFilterConditions|getTableId];[])
IncreaseMethodSecurity(Class_9;;[];[developers];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Project.Builder;Class_34;[creationDate|leader];[creationDate|description|leader];[])
MoveField(de.rwth.dbis.acis.bazaar.service.exception.ExceptionHandler;com.google.authenticator.blackberry.BufferedReader;[mapper];[];[])
PullUpField(prototype.custodian.FileRegisterer;java.lang.Thread;[upSync];[];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0;Class_35;[IDENTITY_CATEGORY_FOLLOWER_MAP|IDENTITY_COMMENT|IDENTITY_PROJECT_FOLLOWER_MAP|IDENTITY_USER];[setIDENTITY_VOTE];[])
IncreaseFieldSecurity(prototype.cache.FileRegisterer;;[AppManager];[];[])
IncreaseMethodSecurity(de.rwth.dbis.acis.bazaar.service.exception.BazaarException;;[];[getErrorCode];[])
DecreaseFieldSecurity(Class_26;;[delegate];[];[])
DecreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.entities.Requirement.Builder;;[projectId];[];[])
IncreaseFieldSecurity(NewStack.DataUploader;;[ldetector];[];[])
DecreaseMethodSecurity(org.badiff.fmt.GdiffFormat.GdiffOpQueue;;[];[pull];[])
PullUpField(prototype.dataserver.FileRegisterer;java.lang.Thread;[flag];[];[])
MoveMethod(de.rwth.dbis.acis.bazaar.service.dal.entities.Activity.DataType.ActivityAction.Builder.AdditionalObject;NewStack.SendingScheduler;[];[getRequirement];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.internalization.Localization;Class_36;[];[getInstance];[])
MoveField(de.rwth.dbis.acis.bazaar.service.dal.entities.Activity.DataType.ActivityAction.Builder.AdditionalObject;Class_19;[category];[];[])
ExtractClass(Class_24;Class_37;[];[];[])
MoveField(de.rwth.dbis.acis.bazaar.service.dal.entities.Project.Builder;de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0.UniqueKeys0;[id];[];[])
EncapsulateField(de.rwth.dbis.acis.bazaar.service.dal.entities.ProjectFollower.Builder;;[projectId];[];[])
IncreaseMethodSecurity(com.google.gson.JsonObject;;[];[addProperty];[])
MoveField(de.rwth.dbis.acis.bazaar.service.internalization.Localization;newNetwork.AppendableObjectOutputStream;[instance];[];[])
ExtractSubClass(Class_20;Class_38;[ID];[as];[])
MoveMethod(org.badiff.imp.BadiffFileDiff.Header.Stats.Optional.FileBadiffOpQueue;Class_5;[];[getRequirementId];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Role.Builder;Class_39;[name|realized];[build];[])
PullUpField(de.rwth.dbis.acis.bazaar.service.dal.entities.RequirementFollower.Builder;Class_10;[id];[];[])
PullUpMethod(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0;de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.AbstractKeys;[];[setIDENTITY_COMMENT];[])
MoveField(newNetwork.AppendableObjectOutputStream;de.rwth.dbis.acis.bazaar.service.dal.entities.User.Builder;[instance];[];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Requirement.Builder;Class_40;[description|isFollower|name|upVotes|userVoted];[lastUpdatedDate|leadDeveloper];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Activity.DataType.ActivityAction.Builder;Class_41;[creationDate|dataFrontendUrl|dataUrl|id];[dataFrontendUrl|dataType|userUrl];[])
IncreaseFieldSecurity(Class_13;;[futuretypeadapter];[];[])
PullUpMethod(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.RolePrivilegeMap;org.jooq.TableImpl;[];[getPrimaryKey];[])
MoveField(prototype.utils.FileWriter;Class_35;[buffer];[];[])
PushDownMethod(Class_7;StateManagement.Status;[];[containsData];[])
MoveMethod(Class_18;org.jcp.xmlns.xml.ns.javaee.JndiNameType;[];[requirementCreator];[])
PushDownField(Class_39;de.rwth.dbis.acis.bazaar.service.dal.entities.Role.Builder;[name];[];[])
DecreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.records.AttachmentRecord;;[serialVersionUID];[];[])
PushDownField(java.lang.Thread;prototype.custodian.FileRegisterer;[execute];[];[])
PullUpField(edu.msu.cme.rdp.readseq.utils.BufferedRandomAccessFile;java.io.RandomAccessFile;[sync];[];[])
IncreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.entities.CategoryFollower.Builder;;[userId];[];[])
MoveField(com.google.gson.stream.JsonReader;org.badiff.imp.Header;[PEEKED_NULL];[];[])
PullUpMethod(org.badiff.fmt.GdiffFormat.GdiffOpQueue;org.badiff.q.OpQueue;[];[copy];[])
PushDownField(de.rwth.dbis.acis.bazaar.service.internalization.Localization;Class_36;[appendableobjectoutputstream];[];[])
IncreaseFieldSecurity(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys;;[KEY_ATTACHMENT_PRIMARY];[];[])
DecreaseFieldSecurity(Class_19;;[category];[];[])
ExtractSuperClass(com.google.gson.internal.ConstructorConstructor;Class_42;[unsafeAllocator];[construct|construct0|construct1|construct2|construct3|construct4|construct8|construct9];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.RequirementsResource;Class_43;[logger];[unfollowRequirement|updateRequirement];[])
ExtractSubClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Attachment.Builder;Class_44;[identifier|mimeType|requirementId];[];[])
DecreaseFieldSecurity(prototype.cache.FileRegisterer;;[AppManager];[];[])
PullUpMethod(de.rwth.dbis.acis.bazaar.service.dal.entities.Attachment;de.rwth.dbis.acis.bazaar.service.dal.entities.EntityBase;[];[getBuilder];[])
PullUpField(org.badiff.imp.BadiffFileDiff.Header.Stats.Optional.FileBadiffOpQueue;org.badiff.q.OpQueue;[requirementId];[];[])
ExtractSuperClass(Class_34;Class_45;[creationDate];[creationDate];[])
IncreaseMethodSecurity(prototype.dbserver.LogRegisterer;;[];[run];[])
ExtractClass(Class_17;Class_46;[];[longValue|readObject];[])
PullUpField(prototype.dbserver.LogRegisterer;java.lang.Thread;[files];[];[])
ExtractSubClass(Class_27;Class_47;[];[];[])
ExtractSuperClass(de.rwth.dbis.acis.bazaar.service.dal.transform.CommentTransformer;Class_48;[];[getSearchCondition|getSortFields|getTable];[])
MoveField(prototype.custodian.FileRegisterer;org.jcp.xmlns.xml.ns.javaee.RemoteType;[execute];[];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.RequirementFollowerMap;Class_49;[USER_ID|serialVersionUID];[getReferences|getSchema|rename];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.security.AnonymUserRightsTest;Class_50;[];[test_getPrivateRequirement|test_getPublicProjectComponents|test_getPublicRequirementsByComponent];[])
ExtractSubClass(org.badiff.imp.StreamQueueable.StreamOpQueue;Class_51;[];[];[])
PullUpField(de.rwth.dbis.acis.bazaar.service.dal.jooq.Keys.Identities0.UniqueKeys0.ForeignKeys0;de.rwth.dbis.acis.bazaar.service.dal.jooq.tables.AbstractKeys;[USER_ROLE_MAP_USER];[];[])
ExtractClass(de.rwth.dbis.acis.bazaar.service.dal.entities.Email.Builder;Class_52;[message|subject];[build|message];[])
